
.btn-group button {
    background-color: #04AA6D; /* Green background */
    border: 1px solid green; /* Green border */
    color: white; /* White text */
    padding: 7px 18px; /* Some padding */
    cursor: pointer; /* Pointer/hand icon */
    display: block;
    
    border-radius: 4px; /* Round element */
    width: 250px; 
  }
  
  /* Clear floats (clearfix hack) */
  .btn-group:after {
    content: "";
    clear: both;
    display: table;
  }
  
  .btn-group button:not(:last-child) {
    border-right: none; 
  }
  
  
  /* Add a background color on hover */
  .btn-group button:hover {
    background-color: #3e8e41;
  }